{% include './components/header.html' %}
    <table class="table text-center table-striped table-bordered table-hover">
        <thead>
            <tr >
                <th class="w-25 bg-dark text-white">EMAIL</th>
                <th class="w-25 bg-dark text-white">PASSWORD</th>
                <th class="w-25 bg-dark text-white">WEBSITE</th>
                <th class="bg-dark text-white">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>
                    <button class="btn btn-secondary fw-bold">EDIT</button>
                    <button class="btn btn-danger fw-bold">DELETE</button>
                </td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>
                    <button class="btn btn-secondary fw-bold">EDIT</button>
                    <button class="btn btn-danger fw-bold">DELETE</button>
                </td>
            </tr>
            <tr>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>
                    <button class="btn btn-secondary fw-bold">EDIT</button>
                    <button class="btn btn-danger fw-bold">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
{% include './components/footer.html' %}