{% include './components/header.html' %}
    <form>
        <div class="mb-3">
            <label class="form-label">Website</label>
            <input type="text" class="form-control" id="website" name="wesbsite">
        </div>
        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
    </form>
{% include './components/footer.html' %}