{% include './components/header.html' %}
    <form action="{{ url_for('update_account', id=account.id )}}" method="POST">
        <input type="hidden" name="id" value='{{ account.id }}'>
        <div class="mb-3">
            <label class="form-label">Website</label>
            <input 
                type="text" 
                class="form-control" 
                id="website" 
                name="website" 
                value="{{ account.website }}"
            >
        </div>
        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input 
                type="email" 
                class="form-control" 
                name="email"
                value="{{ account.email }}"
            >
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input 
                type="text" 
                class="form-control" 
                id="password" 
                name="password"
                value="{{ account.password }}"
            >
        </div>
        <div class="d-flex justify-content-end">
            <button type="reset" class="btn btn-danger me-2">Reset</button>
            <button type="submit" class="btn btn-primary ">Submit</button>
        </div>
    </form>
{% include './components/footer.html' %}